<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product
    Name='Qt5 Examples'
    Manufacturer='Nicolas Alvarez'
    Version='5.2'
    Id='650A0B3B-303C-4BA4-B85F-237E38DDC2FA'
    UpgradeCode='8423D2BD-3416-4F5A-8D66-90C6E38276F7'
    Language='1033'
    >
  <Package Id='*' Compressed='yes' InstallScope="perMachine"/>
  <Media Id='1' Cabinet="Qt.cab" EmbedCab="yes" CompressionLevel="none"/>

  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="PFSubdir" Name="Qt5 Examples">
        <Directory Id="QtDir" Name="."/>
      </Directory>
    </Directory>
    <Directory Id="ProgramMenuFolder">
      <Directory Id="StartMenuDir" Name="Qt5 Examples"/>
    </Directory>
  </Directory>

  <DirectoryRef Id="PFSubdir">
    <Component Id="lineedits" Guid="53E2B752-C8E3-49A3-B093-B1C196D5BF24">
      <File Source="!(bindpath.qt5)\examples\widgets\widgets\lineedits\lineedits.exe" KeyPath="yes"/>
      <Shortcut Id="lineeditsShortcut" Directory="StartMenuDir" Name="Line Edits" Advertise="yes" />
    </Component>

    <Component Id="animatedtiles" Guid="E9BD5E2A-C24F-4637-96C8-3BA107173F93">
      <File Source="!(bindpath.qt5)\examples\widgets\animation\animatedtiles\animatedtiles.exe" KeyPath="yes"/>
      <Shortcut Id="animatedtilesShortcut" Directory="StartMenuDir" Name="Animated Tiles" Advertise="yes" />
    </Component>

    <Component Id="qtconf" Guid="BA23ECDF-6B88-494F-A343-42DFFBCDF1C1">
      <File Source="!(bindpath.srcdir)\qt.conf" KeyPath="yes"/>
    </Component>
  </DirectoryRef>

  <Feature Id="Complete" Level="1" AllowAdvertise="no">
    <ComponentRef Id="qtconf"/>
    <ComponentRef Id="Qt5Core.dll"/>
    <ComponentRef Id="Qt5Gui.dll"/>
    <ComponentRef Id="Qt5Widgets.dll"/>

    <ComponentRef Id="qwindows.dll"/>
    <ComponentRef Id="qjpeg.dll"/>

    <ComponentRef Id="lineedits"/>
    <ComponentRef Id="animatedtiles"/>
  </Feature>

  </Product>
</Wix>
