<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <!-- Main DLLs -->
  <Fragment>
    <Component Directory="QtDir" Guid="A1746964-1939-4956-A597-BFF4CBA1EFBA">
      <File Source="!(bindpath.qt5)\bin\Qt5Core.dll" KeyPath="yes"/>
    </Component>
  </Fragment>
  <Fragment>
    <Component Directory="QtDir" Guid="57CC53C0-3B75-4A52-82B6-CF67076C956F">
      <File Source="!(bindpath.qt5)\bin\Qt5Gui.dll" KeyPath="yes"/>
    </Component>
  </Fragment>
  <Fragment>
    <Component Directory="QtDir" Guid="58265DF9-A9ED-4C16-B6B9-F1600FA072CA">
      <File Source="!(bindpath.qt5)\bin\Qt5Widgets.dll" KeyPath="yes"/>
    </Component>
  </Fragment>
  <Fragment>
    <Component Directory="QtDir" Guid="DFFA700D-23F4-4925-924F-3E4A44E173A9">
      <File Source="!(bindpath.qt5)\bin\Qt5Network.dll" KeyPath="yes"/>
    </Component>
  </Fragment>

  <!-- QPA -->
  <Fragment>
    <DirectoryRef Id="QtDir">
      <Directory Id="QtPluginsDir" Name="plugins">
        <Directory Id="QtPlatformPluginsDir" Name="platforms"/>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <Component Directory="QtPlatformPluginsDir" Guid="0801502B-1044-4E3E-88B0-04232A1F5EFD">
      <File Source="!(bindpath.qt5)\plugins\platforms\qwindows.dll" KeyPath="yes"/>
    </Component>
  </Fragment>
</Wix>
